Django==6.0.7

gunicorn==26.0.0
psycopg[binary]==3.3.4
mysqlclient

python-decouple
python-dotenv

djangorestframework
djangorestframework-simplejwt
djoser

django-filter
django-cors-headers
django-countries

whitenoise

Pillow